<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>服务器内部错误</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="/assets/css/weui.css" />
<link rel="stylesheet" href="/assets/css/weuix.css" />
</head>
<body ontouchstart>
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <i class="weui-icon-warn weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">服务器内部错误</h2>
            <p class="weui-msg__desc">系统出现异常，请稍后重试。</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="/" class="weui-btn weui-btn_primary">返回首页</a>
            </p>
        </div>
    </div>
</body>
</html>
